.layout {
    padding-top: 5rem;
}

header.header__navigation {
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    z-index: 1;
    background-color: white;
}

article.body__article {
    min-height: 100vh;
    padding: 2rem;
}